
#status {
  padding-left: 48%;
  padding-right: 48%;
  text-align: center;
  display: inline;
}

#waveStatus {
  height: 18px;
}

.weaponInfo {
  height: 200px;
  background: black;
  position: fixed;
  top: 8px;
  right: 8px;
  margin-top: -100px;
  margin-left: -200px;
}

.leftBottomInfo {
  position: fixed;
  bottom: 32;
  left: 8;
  display: inline;
  max-width: 100%;
}

#bigPopup {
  border: 0px solid black;
  color: white;
  height: 10% 10%;
  margin-top: -8px;
  font-size: 32px;
  cursor: pointer;
  font-weight: bold;
}

.btn {
  border: 0px solid black;
  color: black;
  padding: 8px 22px;
  margin-top: 8px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

/* Green */
.success {
  color: #fff;
  background-color: rgba(1, 1, 1, 0.4);
  border-radius: 2px;
}

/* Blue */
.info {
  border-color: #2196f3;
  color: dodgerblue;
}

.info:hover {
  background: #2196f3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}
